.Cockpit {
    text-align: center;
}
.Cockpit .red{
    color: #c36;
}
.Cockpit .bold{
    font-weight: 900;
}
.Cockpit .Button{
    background-color: '#089942';
    color: 'fff';
    border: 1px solid #eee;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.Cockpit .Button:hover {
  background-color: #c36;
  color: #ffffff;
}